* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
html,
body {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  font: 16px Arial, Geneva, Helvetica, sans-serif;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
header ul li a:hover {
  background-color: #111111;
}
article {
  margin: 70px 13% 8% 13%;
}
h1 {
  font: 32px Arial, Geneva, Helvetica, sans-serif;
  padding-left: 4px;
  border-bottom: 3px solid #aaaaaa;
}
h2 {
  font: 24px Arial, Geneva, Helvetica, sans-serif;
  padding-left: 2px;
  border-bottom: 2px solid #aaaaaa;
}
h3 {
  font: 20px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -6px;
  border-bottom: 1px solid #aaaaaa;
}
details {
  margin-bottom: 18px;
}
details > summary {
  font: 20px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -8px;
  cursor: pointer;
  user-select: none;
  padding: 2px;
  padding-left: 6px;
  color: white;
  background-color: #333333;
  border-radius: 4px;
}
details > summary:hover {
  background-color: #111111;
}
h4 {
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -10px;
}
h1,
h2,
h3,
h4,
details {
  scroll-margin-top: 55px;
}
.home-ref {
  padding: 2px 5px;
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 5px;
}
.home-ref:hover {
  background-color: #111111;
}
.tableAndCaption {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 100%;
}
.tableAndCaption table {
  border-collapse: collapse;
  border: 1px solid #aaaaaa;
}
.tableAndCaption table td,
.tableAndCaption table th {
  padding: 3px 30px 3px 5px;
}
.tableAndCaption table th {
  white-space: nowrap;
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
}
.tableAndCaption table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tableAndCaption .caption {
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  text-align: left;
  font-variant: small-caps;
  font-weight: bold;
}
.sortableTable > thead > tr > th {
  cursor: default;
}
.sortableTable > thead > tr > th:hover {
  background-color: #111111;
}
.scrollableTableWrapper {
  overflow-y: auto;
  height: 60vh;
  border: 1px solid #aaaaaa;
}
.scrollableTableWrapper > table {
  width: 100%;
  border: none;
}
.scrollableTableWrapper > table > thead > tr {
  position: sticky;
  top: 0;
  z-index: 1;
}
.p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.para-intro {
  font: 0px Arial, Geneva, Helvetica, sans-serif;
  font-size: unset;
  font-style: italic;
}
.card {
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  display: inline-block;
}
.card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.card .card-subheader {
  margin-top: 10px;
}
.small-card {
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  display: inline-block;
  max-width: 550px;
}
.small-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.small-card .card-subheader {
  margin-top: 10px;
}
.small-card h1 {
  font: 22px Arial, Geneva, Helvetica, sans-serif;
  border: initial;
  padding: initial;
  margin: 0;
  margin-bottom: -6px;
}
.small-card h2 {
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin: unset;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.small-card .tableAndCaption {
  margin-left: 0;
  margin-top: 0;
}
.medium-card {
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  display: inline-block;
  max-width: 550px;
  max-width: 800px;
}
.medium-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.medium-card .card-subheader {
  margin-top: 10px;
}
.medium-card h1 {
  font: 22px Arial, Geneva, Helvetica, sans-serif;
  border: initial;
  padding: initial;
  margin: 0;
  margin-bottom: -6px;
}
.medium-card h2 {
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin: unset;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.medium-card .tableAndCaption {
  margin-left: 0;
  margin-top: 0;
}
.medium-card h1 {
  font: 26px Arial, Geneva, Helvetica, sans-serif;
}
.big-card {
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  display: inline-block;
  max-width: 1100px;
}
.big-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.big-card .card-subheader {
  margin-top: 10px;
}
.big-card h1 {
  padding: initial;
  border: initial;
  margin-top: -5px;
}
.source-subheader {
  font-style: italic;
  color: #aaaaaa;
}
.spell-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spell-header .spell-school {
  color: gray;
  font-size: 14px;
}
.spell-header .tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
}
.spell-header .concentration-tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
  background-color: #e23225;
}
.spell-header .ritual-tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
  background-color: #4668ff;
}
.spell-specs {
  display: flex;
  justify-content: center;
}
.spell-specs * {
  text-align: center;
  flex-basis: 50%;
}
.spell-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.cardgroup {
  column-width: 500px;
  column-gap: 0;
}
.multicol {
  column-width: 500px;
  column-gap: 1em;
}
.multicol > * {
  float: inline-start;
}
.nobreak {
  break-inside: avoid;
}
.nobreak > h1,
.nobreak > h2,
.nobreak > h3,
.nobreak > h4,
.nobreak > h5,
.nobreak > h6 {
  margin-top: 0;
}
.classlist {
  column-width: 220px;
  column-gap: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.classlist a {
  text-decoration: none;
  color: black;
}
.classlist li {
  break-inside: avoid;
}
.classlist > li {
  font: 20px Arial, Geneva, Helvetica, sans-serif;
}
.classlist > li ul {
  font-size: initial;
}
del {
  text-decoration: none;
}
.blockdel {
  display: block;
}
del,
.del {
  background-color: lightcoral !important;
}
blockquote {
  background: #f8f8f8;
  border-left: 10px solid #aaaaaa;
  margin: 1.5em 10px;
  padding: 0.1em 10px;
}
.tooltipWrapper:hover > .tooltip,
.tooltipWrapper:active > .tooltip {
  display: block;
}
.tooltip {
  border-radius: 6px;
  padding: 0.4em 0.7em;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: auto;
  position: absolute;
  z-index: 1;
  display: none;
}
.popupAnchor {
  cursor: pointer;
  border-bottom: 2px dotted #333333;
}
.popupAnchor:hover {
  border-color: #111111;
}
.popup {
  border-radius: 6px;
  padding: 5px 0;
  cursor: auto;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
  display: none;
  position: absolute;
}
.popup.visible {
  display: flex !important;
}
.popup.dragEnabled {
  display: flex !important;
}
.popup.dragEnabled > .popupHeader {
  cursor: move;
  visibility: visible;
}
.popup.dragEnabled > .popupHeader:hover {
  background-color: #111111;
}
.popup .popupHeader {
  padding: 5px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #333333;
  color: white;
  text-align: center;
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  pointer-events: visible;
  user-select: none;
  margin: 0 10px -18px 10px;
  z-index: 10;
  visibility: hidden;
}
.popup .popupHeader .popupHeaderButtongroup {
  float: right;
  display: flex;
  flex-direction: row;
}
.popup .popupHeader .popupHeaderButtongroup .popupHeaderButton {
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.popup.isCollapsed {
  pointer-events: none;
}
.popup.isCollapsed > .popupContent {
  visibility: hidden;
}
.popup .popupContent > .small-card {
  overflow-y: auto;
  max-height: 40vh;
}
.popup .popupContent > .medium-card,
.popup .popupContent > .big-card {
  overflow-y: auto;
  max-height: 80vh;
}
footer {
  text-align: center;
  color: #aaaaaa;
}
