* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
html,
body {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  font: 16px Arial, Geneva, Helvetica, sans-serif;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
header ul li a:hover {
  background-color: #111111;
}
article {
  margin: 70px 13% 8% 13%;
}
h1 {
  font: 32px Arial, Geneva, Helvetica, sans-serif;
  padding: 2px;
  border-bottom: 3px solid #aaaaaa;
}
h2 {
  font: 24px Arial, Geneva, Helvetica, sans-serif;
  padding: 2px;
  border-bottom: 2px solid #aaaaaa;
}
h3 {
  font: 20px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -6px;
}
.table-title {
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0;
}
h6 {
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0;
}
.home-ref {
  padding: 2px 5px;
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 5px;
}
.home-ref:hover {
  background-color: #111111;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #aaaaaa;
}
table td,
table th {
  text-align: left;
  padding: 3px 30px 3px 5px;
}
table th {
  font: 16px Arial, Geneva, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.sortableTable th {
  cursor: default;
}
.sortableTable th:hover {
  background-color: #111111;
}
.para-intro {
  font: 0px Arial, Geneva, Helvetica, sans-serif;
  font-size: unset;
  font-style: italic;
}
.card {
  width: 550px;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
}
.card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.card h3 {
  margin: 0;
  margin-bottom: -6px;
  font: 22px Arial, Geneva, Helvetica, sans-serif;
}
.card h4 {
  margin: 0;
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.card table {
  margin-left: 0;
  margin-top: 0;
}
.race-card {
  width: 550px;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  width: 800px;
}
.race-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.race-card h3 {
  margin: 0;
  margin-bottom: -6px;
  font: 22px Arial, Geneva, Helvetica, sans-serif;
}
.race-card h4 {
  margin: 0;
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.race-card table {
  margin-left: 0;
  margin-top: 0;
}
.race-card h3 {
  font: 26px Arial, Geneva, Helvetica, sans-serif;
}
.subheaded-card {
  width: 550px;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
}
.subheaded-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.subheaded-card h3 {
  margin: 0;
  margin-bottom: -6px;
  font: 22px Arial, Geneva, Helvetica, sans-serif;
}
.subheaded-card h4 {
  margin: 0;
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.subheaded-card table {
  margin-left: 0;
  margin-top: 0;
}
.subheaded-card .card-subheader {
  margin-top: 4px;
}
.spell-card {
  width: 550px;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
}
.spell-card hr {
  margin: 0px;
  background-color: lightgray;
  color: transparent;
  border-radius: 1px;
}
.spell-card h3 {
  margin: 0;
  margin-bottom: -6px;
  font: 22px Arial, Geneva, Helvetica, sans-serif;
}
.spell-card h4 {
  margin: 0;
  font: 18px Arial, Geneva, Helvetica, sans-serif;
  margin-bottom: -8px;
  border-bottom: 2px solid #aaaaaa;
}
.spell-card table {
  margin-left: 0;
  margin-top: 0;
}
.spell-card .spell-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spell-card .spell-header .spell-school {
  color: gray;
  font-size: 14px;
}
.spell-card .spell-header .tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 0px 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
}
.spell-card .spell-header .concentration-tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 0px 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
  background-color: #e23225;
}
.spell-card .spell-header .ritual-tag {
  font-variant: small-caps;
  border-radius: 3px;
  color: #f8f8f8;
  padding: 0px 3px;
  margin: 2px 0px;
  font-size: small;
  font-weight: bold;
  background-color: #4668ff;
}
.spell-card .spell-specs {
  display: flex;
  justify-content: center;
}
.spell-card .spell-specs * {
  text-align: center;
  flex-basis: 50%;
}
.spell-card .spell-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
del {
  text-decoration: none;
  background-color: lightcoral;
}
del * {
  background-color: lightcoral;
}
